@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

// Variables

// Colors
$blue-grey: hsla(249, 15%, 72%, 0.541);
$light-green: hsla(128, 15%, 72%);
$green: #99c68e;
$dark-green: #1a3c11;
$light-grey: #ececec;
$mid-grey: #dbd9d9;
$grey: grey;
$black: #333;
$light-black: #00000033;
$details-bg: #b7bdc4;
$blue: #4a64d8;


// Font family
$font-fam: Poppins, sans-serif;