@import './variables';
@import './mixins';


.container {
    width: 450px;
    height: 400px;
    @include align-flex(space-around);
    flex-direction: column;
    background: $light-grey;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    user-select: none;
}

.anim {
    animation: border-color 1s alternate infinite;
}

@keyframes border-color {
    0% {
        box-shadow: 0px 0px 10px 0 #11116b;
    }
    100% {
        box-shadow: 0px 0px 20px 0 #5f045f;
    }
}

.header {
    @include align-flex(space-between);
    text-align: center;
    width: 300px;
    height: 70px;

    button{
        width: 40px;
        position: relative;
        background: transparent;
        border: 2px solid $blue;
        border-radius: 50%;
        font-size: 25px;
        color: $blue;
        height: 40px;
        aspect-ratio: 1/1;
        margin: 0 10px;
        box-shadow: 0 3px 0px $blue;
        cursor: pointer;

        &:active {
            box-shadow: 0 0px 0px $blue;
            top: 5px;
        }
    }

    span {
        font-size: 20px;
        font-weight: 600;
    }
}

.timer {
    width: 60%;
    background: $blue;
    padding: 10px 5px;
    border-radius: 5px;
    color: $light-grey;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.container-buttons {
    width: 40%;
    @include align-flex(space-between);


    .play-pause, .reset {
        @include align-flex(center);
        position: relative;
        background: transparent;
        border-radius: 50%;
        border: 2px solid $blue;
        padding: 7px;
        box-shadow: 0 6px 0 $blue;

        &:active {
            box-shadow: 0 0px 0px $blue;
            top: 5px;
        }
    }

    .play-pause-btn, .reset-btn {
        border: none;
        border-radius: 50%;
        background: transparent;  
        cursor: pointer;

    }

    img {
        width: 50px;
        height: 50px;
        border: none;
    }
}